/* fonts */

@font-face {
    font-family: 'open_sansextrabold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Lexend Deca Regular'), url('/fonts/LexendDecaRegular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
  
/* components */

.divStructure {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto';
}


.textTitle {
    color: royalblue;
    margin: 25px 0 0 50px;
    font-size: 3rem;
    line-height: 110%;
    font-weight: 700;
    font-family: system-ui;
    JUSTIFY-SELF: CENTER;
}

.textDescribe {
    margin: 50px 0 0 50px;
    font-size: 1.3rem;
    text-align: justify;
    font-weight: 100;
}

.divImages {
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.images {
    margin: 25px 0 50px 25px;
}

.imageLabSimer {
    border: 1px solid lightblue;
    border-radius: 30px;
    height: auto;
    width: 1000px;
    display: flex;
    place-self: center;

}